<MudContainer>
    <MudGrid>

        <MudItem xs="12" sm="6">
            <MudDatePicker Disabled="OnProcessing" @bind-Text="@startDate" Required="true" PickerVariant="PickerVariant.Inline" Label="ວັນທີເລີ່ມຕົ້ນ" HelperText="ວັນທີເລີ່ມຕົ້ນ" DateFormat="dd/MM/yyyy" />
        </MudItem>
        <MudItem xs="12" sm="6">
            <MudDatePicker Disabled="OnProcessing" @bind-Text="@endDate" Required="true" PickerVariant="PickerVariant.Inline" Label="ວັນທີສິ້ນສຸດ" HelperText="ວັນທີສິ້ນສຸດ" DateFormat="dd/MM/yyyy" />

        </MudItem>
        <MudItem xs="12" sm="12" Style="text-align: center">
            <MudButton Style="margin: auto" Disabled="OnProcessing" Variant="Variant.Filled"
                       Color="Color.Primary" EndIcon="@Icons.Material.Filled.Search" OnClick="onSearch">ຄົ້ນຫາ</MudButton>
        </MudItem>
        <MudDivider></MudDivider>
        <MudItem xs="12" sm="12">
            <div class="mud-table mud-sm-table mud-table-hover mud-elevation-1">
                <div class="mud-table-container">
                    <table class="mud-table-root">
                        <thead class="mud-table-head">
                            <tr class="mud-table-row">
                                <th class="mud-table-cell">
                                    ຕຳແໜ່ງ
                                </th>
                                <th class="mud-table-cell">
                                    ວັນທີເລີ່ມ
                                </th>
                                <th class="mud-table-cell">
                                    ວັນທີສິ້ນສຸດ
                                </th>
                                <th class="mud-table-cell">
                                    ລວມທັງໝົດ
                                </th>
                                <th class="mud-table-cell">
                                    ສະບັບຮ່າງ
                                </th>
                                <th class="mud-table-cell">
                                    ດຳເນີນການ
                                </th>
                                <th class="mud-table-cell">
                                    ສຳເລັດແລ້ວ
                                </th>
                            </tr>
                        </thead>
                        <tbody class="mud-table-body">
                            @if (!ReportSummary!.IsNullOrEmpty())
                            {
                                foreach (var item in ReportSummary!)
                                {
                                    <tr class="mud-table-row">
                                        <td class="mud-table-cell">
                                            @item.Position (@item.FullName)
                                        </td>
                                        <td class="mud-table-cell">
                                            @startDate
                                        </td>
                                        <td class="mud-table-cell">
                                            @endDate
                                        </td>
                                        <td class="mud-table-cell">
                                            @item.Total
                                        </td>
                                        <td class="mud-table-cell">
                                            <MudButton Variant="Variant.Text" Color="Color.Secondary" OnClick="@(() => onReportClick(TraceStatus.Draft, item.RoleID!))">@item.Draft</MudButton>
                                        </td>
                                        <td class="mud-table-cell">
                                            <MudButton Variant="Variant.Text" Color="Color.Primary" OnClick="@(() => onReportClick(TraceStatus.InProgress, item.RoleID!))">@item.InProgress</MudButton>
                                        </td>
                                        <td class="mud-table-cell">
                                            <MudButton Variant="Variant.Text" Color="Color.Success" OnClick="@(() => onReportClick(TraceStatus.Completed, item.RoleID!))">@item.Finished</MudButton>
                                        </td>
                                    </tr>
                                }
                            }

                        </tbody>
                    </table>
                </div>
            </div>

        </MudItem>

        @if (OnProcessing)
        {
            <MudItem xs="12" md="12">
                <MudProgressLinear Color="Color.Primary" Indeterminate="true" />
            </MudItem>
        }
    </MudGrid>
</MudContainer>

@code {
    [Parameter] public EventCallback<GetPersonalReportRequest> OnSearch { get; set; }
    [Parameter] public InboxType InboxType { get; set; }
    [Parameter] public List<string>? RoleIDs { get; set; }
    [Parameter] public List<PersonalReportSummary>? ReportSummary { get; set; }
    [Parameter] public bool OnProcessing { get; set; }
    [Parameter] public EventCallback<ReportClickDTO> OnReportItemClick { get; set; }
    [Parameter] public EventCallback<string> NotifyMessage { get; set; }

    string? startDate;
    string? endDate;

}
