@page "/pages/folder/{Link}"
@inject IHttpService httpService
@inject AccessTokenStorage accessToken
@inject ServiceEndpoint endpoint
@inject LocalStorageHelper storageHelper
@inject IMinioService minio
@inject StorageConfiguration storageConf
@inject NavigationManager nav
@inject ISnackbar Snackbar
@implements IDisposable

<PageTitle>Folder Management - CSE's Document Control</PageTitle>

<DFM.Frontend.Pages.Common.ButtonPanel FormMode="formMode" ShowTerminateButton="false" ShowCreateButton="true" ShowDeleteButton="true"
                                       ShowEditButton="true" ShowSaveButton="true" ShowSendButton="false" Behavior="BehaviorStatus.ReadWrite"
                                       CreateButtonEvent="onCreateButtonClick" PreviousButtonEvent="onePreviousButtonClick"
                                       DeleteButtonEvent="onDeleteButtonClick" RootBreadcrumb="ລາຍການແຟ້ມເອກະສານ" ViewBreadcrumb="ເບີ່ງແຟ້ມເອກະສານ"
                                       EditBreadcrumb="ແກ້ໄຂແຟ້ມເອກະສານ" CreateBreadcrumb="ສ້າງແຟ້ມເອກະສານໃຫມ່" OnProcessing="onProcessing"
                                       EditButtonEvent="onEditButtonClick" SaveButtonEvent="onSaveClickAsync"></DFM.Frontend.Pages.Common.ButtonPanel>

<MudContainer Class="mt-2">
    <MudGrid>
        <MudItem xs="12" sm="12">
            <MudPaper Elevation="3">
                @if (Link == "inbound" || Link == "outbound")
                {

                    @if (formMode == FormMode.List)
                    {
                        <DFM.Frontend.Pages.FolderComponent.FolderList Link="@Link" RoleId="@roleId" OnRowClick="@onRowClick" OnTabChangeEvent="onTabChangeEvent"></DFM.Frontend.Pages.FolderComponent.FolderList>
                    }
                    else if (formMode == FormMode.Create)
                    {
                        <DFM.Frontend.Pages.FolderComponent.FolderForm RoleId="@roleId" FolderModel="folderModel" OnProcessing="onProcessing"></DFM.Frontend.Pages.FolderComponent.FolderForm>
                    }
                    else if (formMode == FormMode.Edit)
                    {
                        <DFM.Frontend.Pages.FolderComponent.FolderForm RoleId="@roleId" FolderModel="folderModel" OnProcessing="onProcessing"></DFM.Frontend.Pages.FolderComponent.FolderForm>
                    }
                    else if (formMode == FormMode.View)
                    {
                        <DFM.Frontend.Pages.FolderComponent.FolderView RoleId="@roleId" FolderModel="folderModel"></DFM.Frontend.Pages.FolderComponent.FolderView>
                    }

                }
                else
                {
                    <MudAlert Severity="Severity.Error">Sorry the content not found, invalid link or page</MudAlert>
                }
            </MudPaper>
        </MudItem>
    </MudGrid>
</MudContainer>



<MudMessageBox @ref="delBox" Title="ລຶບເອກະສານ">
    <MessageContent>
        <h2>ທ່ານຕ້ອງການ ລຶບແຟ້ມເອກະສານ ນີ້ແທ້ບໍ່?</h2>
    </MessageContent>
    <YesButton>
        <MudButton Variant="Variant.Filled" Color="Color.Error" StartIcon="@Icons.Material.Filled.Delete">ຢືນຢັນ</MudButton>
    </YesButton>
</MudMessageBox>

@code {
    [Parameter] public string? Link { get; set; }
    private FormMode formMode;
    string? roleId = "";
    MudMessageBox? delBox { get; set; }
    FolderModel? folderModel = new();

    bool onProcessing = false;
    public void Dispose()
    {
    }
}
