@page "/"
@page "/pages/home"
@inject IDialogService DialogService
@inject IHttpService httpService
@inject AccessTokenStorage accessToken
@inject ServiceEndpoint endpoint
@inject ICascadingService cascading
@inject LocalStorageHelper storageHelper
@inject NavigationManager nav
@inject EnvConf envConf
@inject TokenState tokenState
@implements IDisposable

<PageTitle>Welcome - @envConf.PageTitle</PageTitle>
<MudContainer>
    <MudGrid>
        <MudItem xs="12" md="12" Class="d-flex flex-grow-1 gap-4">
            
            

            <div class="mud-paper mud-elevation-1 mud-card mud-width-full">
                <div class="mud-card-content">
                    @if (!selectValues!.IsNullOrEmpty())
                    {
                        Console.WriteLine($"{selectValues!.FirstOrDefault()}");
                        <MudSelect Margin="Margin.Dense" SelectedValues="selectValues" Disabled="onProcessing" @bind-Value="roleID" T="string" HelperText="ຕຳແໜ່ງຂອງທ່ານ" Label="ຕຳແໜ່ງ" Variant="Variant.Outlined">
                            @if (roles is not null)
                            {
                                foreach (var item in roles!)
                                {
                                    Console.WriteLine($"{item.Role.RoleID} -  {item.Role.Display.Local}");
                                    <MudSelectItem Value="item.Role.RoleID">@item.Role.Display.Local</MudSelectItem>
                                }
                            }
                        </MudSelect>
                    }
                    @*else
                    {
                        <MudSelect Margin="Margin.Dense" Disabled="onProcessing" @bind-Value="roleID" T="string" HelperText="ຕຳແໜ່ງຂອງທ່ານ" Label="ຕຳແໜ່ງ" Variant="Variant.Outlined">
                            @if (roles is not null)
                            {
                                foreach (var item in roles!)
                                {
                                    <MudSelectItem Value="item.Role.RoleID">@item.Role.Display.Local</MudSelectItem>
                                }
                            }
                        </MudSelect>
                    }*@
                </div>
            </div>
        </MudItem>
    </MudGrid>
    <MudGrid>
        <MudItem xs="12" md="6" Class="d-flex flex-grow-1 gap-4">
            <DashboardTable Title="ຂໍ້ມູນເອກະສານ ຂາເຂົ້າ" InboxType="InboxType.Inbound" RoleId="@roleID" OnProcessing="onProcessing" TextInProgress="ອິນບ໋ອກ"></DashboardTable>
        </MudItem>
        <MudItem xs="12" md="6" Class="d-flex flex-grow-1 gap-4">
            <DashboardTable Title="ຂໍ້ມູນເອກະສານ ຂາອອກ" InboxType="InboxType.Outbound" RoleId="@roleID" OnProcessing="onProcessing" TextInProgress="ເອກະສານສົ່ງອອກ"></DashboardTable>
        </MudItem>

    </MudGrid>
</MudContainer>

@code {
    string? roleID;
    //string? roleName;
    bool onProcessing;
    private CancellationTokenSource cts = new CancellationTokenSource();
    public void Dispose()
    {
        cts.Cancel();
        cts.Dispose();
    }
}