@page "/pages/org/chart"
@inject IHttpService httpService
@inject AccessTokenStorage accessToken
@inject ServiceEndpoint endpoint
@inject LocalStorageHelper storageHelper
@inject EnvConf envConf
@inject NavigationManager nav
@implements IDisposable
@inject ISnackbar Snackbar

<PageTitle>Organization - @envConf.PageTitle</PageTitle>
<DFM.Frontend.Pages.Common.ButtonPanel FormMode="formMode" ShowTerminateButton="false" ShowCreateButton="true" RootBreadcrumb="ໂຄງຮ່າງການຈັດຕັ້ງ" OnProcessing="onProcessing"
                                       ShowDeleteButton="true" ShowEditButton="true" ShowSaveButton="true" ShowSendButton="false" Behavior="BehaviorStatus.ReadWrite"
                                       PreviousButtonEvent="onePreviousButtonClick" CreateButtonEvent="onCreateButtonClick" EditButtonEvent="onEditButtonClick"
                                       DeleteButtonEvent="onDeleteButtonClick" ShowHistoryButton="false"
                                       ViewBreadcrumb="@editBreadcrumbText" EditBreadcrumb="@editBreadcrumbText" CreateBreadcrumb="ສ້າງໂຄງຮ່າງການຈັດຕັ້ງໃຫມ່"
                                       SaveButtonEvent="onSaveClickAsync"></DFM.Frontend.Pages.Common.ButtonPanel>


<MudContainer Class="mt-2">
    <MudGrid>
        <MudItem xs="12" sm="12">
            <MudPaper Elevation="3">

                @if (formMode == FormMode.Create || formMode == FormMode.Edit)
                {
                    <DFM.Frontend.Pages.OrganizeComponent.OrgFormComponent FormMode="formMode"
                                                                           OrganizationID="@orgId" RoleTreeModel="roleTreeModel"
                                                                           OnProcessing="onProcessing" Notice="onMessageAlert">
                    </DFM.Frontend.Pages.OrganizeComponent.OrgFormComponent>
                }
                else
                {

                    <DFM.Frontend.Pages.OrganizeComponent.ListViewComponent OnItemChangeEvent="onItemChangeEvent"></DFM.Frontend.Pages.OrganizeComponent.ListViewComponent>
                }
            </MudPaper>
        </MudItem>
    </MudGrid>
</MudContainer>



<MudMessageBox @ref="delBox" Title="ລຶບຕຳແໜ່ງອອກຈາກໂຄງຮ່າງການຈັດຕັ້ງ">
    <MessageContent>
        <h2 style="text-align:center">ທ່ານຈະບໍ່ສາມາດ ກູ້ ຄືນເອກະສານທີ່ກ່ຽວຂ້ອງກັບ ຕຳແໜ່ງນີ້ໄດ້</h2>
        <h2 style="text-align:center">ທ່ານຕ້ອງການ ລຶບເອກະສານ ນີ້ແທ້ບໍ່?</h2>
    </MessageContent>
    <YesButton>
        <MudButton Variant="Variant.Filled" Color="Color.Error" StartIcon="@Icons.Material.Filled.Delete">ຢືນຢັນ</MudButton>
    </YesButton>
</MudMessageBox>

@code {
    [Parameter] public string? Link { get; set; }
    private FormMode formMode;
    RoleTreeModel? roleTreeModel = new();
    string? orgId = "";
    MudMessageBox? delBox { get; set; }
    private CancellationTokenSource cts = new CancellationTokenSource();
    public void Dispose()
    {
        cts.Cancel();
        cts.Dispose();
    }
}
