@page "/setup"
@layout EmptyLayout
@inject IHttpService httpService
@inject AccessTokenStorage accessToken
@inject ServiceEndpoint endpoint
@inject LocalStorageHelper storageHelper
@inject IMinioService minio
@inject StorageConfiguration storageConf
@inject NavigationManager nav
@inject ISnackbar Snackbar
@inject ICascadingService cascading
@inject FrontendIdentity identity
@inject ISnackbar Snackbar
@implements IDisposable
<PageTitle>Setup - CSE's Document Control</PageTitle>

<MudContainer Class="mt-2">
    <MudGrid>
        <MudItem xs="12" sm="12">
            <MudPaper Elevation="3">
                <MudContainer>
                    <MudGrid>
                        @if (onProcessing)
                        {
                            <MudItem xs="12" md="12">
                                <MudProgressLinear Color="Color.Primary" Indeterminate="true" />
                            </MudItem>
                        }
                        <MudItem xs="12" md="12" Class="d-flex flex-grow-1 gap-4">
                            <h2>ຂໍ້ມູນ ບໍລິສັດ</h2>
                        </MudItem>
                        <MudItem xs="12" md="6" Class="d-flex flex-grow-1 gap-4">
                            <MudTextField Disabled="onProcessing" @bind-Value="model!.Name.Local" Required="true" T="string" Counter="1000" MaxLength="1000" Immediate="true" Variant="Variant.Text" Validation="@(new Func<string, IEnumerable<string>>(MaxCharacters))" HelperText="ຊື່ບໍລິສັດ ເປັນພາສາລາວ" Label="ຊື່ບໍລິສັດ" />
                        </MudItem>
                        <MudItem xs="12" md="6" Class="d-flex flex-grow-1 gap-4">
                            <MudTextField Disabled="onProcessing" @bind-Value="model!.Name.Eng" Required="true" T="string" Counter="500" MaxLength="500" Immediate="true" Variant="Variant.Text" Validation="@(new Func<string, IEnumerable<string>>(MediumCharacters))" HelperText="Company name in english" Label="Company name" />
                        </MudItem>

                        <MudItem xs="12" md="12" Class="d-flex flex-grow-1 gap-4">
                            <h2>ຂໍ້ມູນ ວິຊາການ(Administrator)</h2>
                        </MudItem>
                        <MudItem xs="12" md="6" Class="d-flex flex-grow-1 gap-4">
                            <MudTextField Disabled="onProcessing" @bind-Value="employee!.Name.Local" Required="true" T="string" Counter="1000" MaxLength="1000" Immediate="true" Variant="Variant.Text" Validation="@(new Func<string, IEnumerable<string>>(MaxCharacters))" HelperText="ຊື່ທີ່ເປັນພາສາລາວ" Label="ຊື່" />
                        </MudItem>
                        <MudItem xs="12" md="6" Class="d-flex flex-grow-1 gap-4">
                            <MudTextField Disabled="onProcessing" @bind-Value="employee!.FamilyName.Local" Required="true" T="string" Counter="1000" MaxLength="1000" Immediate="true" Variant="Variant.Text" Validation="@(new Func<string, IEnumerable<string>>(MaxCharacters))" HelperText="ນາມສະກຸນທີ່ເປັນພາສາລາວ" Label="ນາມສະກຸນ" />
                        </MudItem>

                        <MudItem xs="12" md="6" Class="d-flex flex-grow-1 gap-4">
                            <MudTextField Disabled="onProcessing" @bind-Value="employee!.Name.Eng" Required="true" T="string" Counter="1000" MaxLength="1000" Immediate="true" Variant="Variant.Text" Validation="@(new Func<string, IEnumerable<string>>(MaxCharacters))" HelperText="Name (English)" Label="Name" />
                        </MudItem>
                        <MudItem xs="12" md="6" Class="d-flex flex-grow-1 gap-4">
                            <MudTextField Disabled="onProcessing" @bind-Value="employee!.FamilyName.Eng" Required="true" T="string" Counter="1000" MaxLength="1000" Immediate="true" Variant="Variant.Text" Validation="@(new Func<string, IEnumerable<string>>(MaxCharacters))" HelperText="Family name (English)" Label="Family name" />
                        </MudItem>

                        <MudItem xs="12" md="4" Class="d-flex flex-grow-1 gap-4">
                            <MudDatePicker Disabled="onProcessing" @bind-Value="employee!.Dob" Required="true" PickerVariant="PickerVariant.Inline" Label="ວັນເດືອນປີເກີດ" HelperText="ວັນເດືອນປີເກີດ" DateFormat="dd/MM/yyyy" />
                        </MudItem>
                        <MudItem xs="12" md="4" Class="d-flex flex-grow-1 gap-4">
                            <MudSelect Disabled="onProcessing" @bind-Value="employee!.Gender" T="Gender" HelperText="ເພດ" Label="ເພດ" Variant="Variant.Text">
                                <MudSelectItem Value="@(Gender.Male)" />
                                <MudSelectItem Value="@(Gender.Female)" />
                                <MudSelectItem Value="@(Gender.Unknow)" />
                            </MudSelect>
                        </MudItem>
                        <MudItem xs="12" md="4" Class="d-flex flex-grow-1 gap-4">
                            <MudTextField Disabled="onProcessing" @bind-Value="employee!.EmployeeID" T="string" Counter="1000" MaxLength="1000" Immediate="true" Variant="Variant.Text" Validation="@(new Func<string, IEnumerable<string>>(MaxCharacters))" HelperText="ເລກລະຫັດປະຈຳຕົວພະນັກງານ (ຖ້າມີ)" Label="ລະຫັດພະນັກງານ" />
                        </MudItem>

                        <MudItem xs="12" md="12" Class="d-flex flex-grow-1 gap-4">
                            <h2>ຂໍ້ມູນເຂົ້າເຖິງລະບົບ</h2>
                        </MudItem>
                        <MudItem xs="12" md="6" Class="d-flex flex-grow-1 gap-4">
                            <MudTextField Disabled="onProcessing" @bind-Value="employee!.Username" Required="true" T="string" Counter="12" MaxLength="12" Immediate="true" Variant="Variant.Text" Validation="@(new Func<string, IEnumerable<string>>(UserCharacters))" HelperText="Username ທີ່ໃຊ້ລັອກອິນລະບົບ" Label="Username" />
                        </MudItem>
                        <MudItem xs="12" md="6" Class="d-flex flex-grow-1 gap-4">
                            <MudTextField Disabled="onProcessing" @bind-Value="employee!.Password" InputType="InputType.Password" Required="true" T="string" Counter="6" MaxLength="6" Immediate="true" Variant="Variant.Text" Validation="@(new Func<string, IEnumerable<string>>(PasswordCharacters))" HelperText="Pລະຫັດຜ່ານ" Label="Password" />
                        </MudItem>

                        <MudItem xs="12" md="12" Class="d-flex flex-grow-1 gap-4">
                            <h2>ທີ່ຢູ່ບ່ອນເກີດ</h2>
                        </MudItem>
                        <MudItem xs="12" md="4" Class="d-flex flex-grow-1 gap-4">
                            <MudTextField Disabled="onProcessing" @bind-Value="employee!.BornAddress.Village" T="string" Counter="1000" MaxLength="1000" Immediate="true" Variant="Variant.Text" Validation="@(new Func<string, IEnumerable<string>>(MaxCharacters))" HelperText="ບ້ານ ເກີດ" Label="ບ້ານ" />
                        </MudItem>
                        <MudItem xs="12" md="4" Class="d-flex flex-grow-1 gap-4">
                            <MudTextField Disabled="onProcessing" @bind-Value="employee!.BornAddress.District" T="string" Counter="1000" MaxLength="1000" Immediate="true" Variant="Variant.Text" Validation="@(new Func<string, IEnumerable<string>>(MaxCharacters))" HelperText="ເມືອງ ເກີດ" Label="ເມືອງ" />
                        </MudItem>
                        <MudItem xs="12" md="4" Class="d-flex flex-grow-1 gap-4">
                            <MudTextField Disabled="onProcessing" @bind-Value="employee!.BornAddress.Province" T="string" Counter="1000" MaxLength="1000" Immediate="true" Variant="Variant.Text" Validation="@(new Func<string, IEnumerable<string>>(MaxCharacters))" HelperText="ແຂວງ ເກີດ" Label="ແຂວງ" />
                        </MudItem>

                        <MudItem xs="12" md="12" Class="d-flex flex-grow-1 gap-4">
                            <h2>ທີ່ຢູ່ປັດຈຸບັນ</h2>
                        </MudItem>
                        <MudItem xs="12" md="4" Class="d-flex flex-grow-1 gap-4">
                            <MudTextField Disabled="onProcessing" @bind-Value="employee!.CurrentAddress.Village" T="string" Counter="1000" MaxLength="1000" Immediate="true" Variant="Variant.Text" Validation="@(new Func<string, IEnumerable<string>>(MaxCharacters))" HelperText="ບ້ານ ຢູ່ປັດຈຸບັນ" Label="ບ້ານ" />
                        </MudItem>
                        <MudItem xs="12" md="4" Class="d-flex flex-grow-1 gap-4">
                            <MudTextField Disabled="onProcessing" @bind-Value="employee!.CurrentAddress.District" T="string" Counter="1000" MaxLength="1000" Immediate="true" Variant="Variant.Text" Validation="@(new Func<string, IEnumerable<string>>(MaxCharacters))" HelperText="ເມືອງ ຢູ່ປັດຈຸບັນ" Label="ເມືອງ" />
                        </MudItem>
                        <MudItem xs="12" md="4" Class="d-flex flex-grow-1 gap-4">
                            <MudTextField Disabled="onProcessing" @bind-Value="employee!.CurrentAddress.Province" T="string" Counter="1000" MaxLength="1000" Immediate="true" Variant="Variant.Text" Validation="@(new Func<string, IEnumerable<string>>(MaxCharacters))" HelperText="ແຂວງ ຢູ່ປັດຈຸບັນ" Label="ແຂວງ" />
                        </MudItem>
                        <MudItem xs="12" md="4" Class="d-flex flex-grow-1 gap-4">
                            <MudTextField Disabled="onProcessing" @bind-Value="employee!.CurrentAddress.UnitNo" T="string" Counter="1000" MaxLength="1000" Immediate="true" Variant="Variant.Text" Validation="@(new Func<string, IEnumerable<string>>(MaxCharacters))" HelperText="ຫນ່ວຍ ຢູ່ປັດຈຸບັນ" Label="ໜ່ວຍ" />
                        </MudItem>
                        <MudItem xs="12" md="4" Class="d-flex flex-grow-1 gap-4">
                            <MudTextField Disabled="onProcessing" @bind-Value="employee!.CurrentAddress.HouseNo" T="string" Counter="1000" MaxLength="1000" Immediate="true" Variant="Variant.Text" Validation="@(new Func<string, IEnumerable<string>>(MaxCharacters))" HelperText="ເຮືອນເລກທີ ຢູ່ປັດຈຸບັນ" Label="ເຮືອນເລກທີ" />
                        </MudItem>

                        <MudItem xs="12" md="12" Class="d-flex flex-grow-1 gap-4">
                            <h2>ຂໍ້ມູນສຳລັບຕິດຕໍ່</h2>
                        </MudItem>
                        <MudItem xs="12" md="6" Class="d-flex flex-grow-1 gap-4">
                            <MudTextField Disabled="onProcessing" @bind-Value="employee!.Contact.Phone" Required="true" T="string" Counter="1000" MaxLength="1000" Immediate="true" Variant="Variant.Text" Validation="@(new Func<string, IEnumerable<string>>(MaxCharacters))" HelperText="ເບີໂທ ມືຖື" Label="ເບີໂທ" />
                        </MudItem>
                        <MudItem xs="12" md="6" Class="d-flex flex-grow-1 gap-4">
                            <MudTextField Disabled="onProcessing" @bind-Value="employee!.Contact.Email" Required="true" T="string" Counter="1000" MaxLength="1000" Immediate="true" Variant="Variant.Text" Validation="@(new Func<string, IEnumerable<string>>(MaxCharacters))" HelperText="ທີ່ຢູ່ ອີເມວ" Label="ອີເມວ" />
                        </MudItem>
                        <MudItem xs="12" md="12" Class="d-flex flex-grow-1 gap-4">
                            <MudButton Variant="Variant.Filled" Color="Color.Primary" OnClick="startSetup">ເລີ່ມຕົ້ນຕັ້ງຄ່າລະບົບ</MudButton>
                        </MudItem>
                    </MudGrid>
                </MudContainer>
            </MudPaper>
        </MudItem>
    </MudGrid>
</MudContainer>

@code {
    bool onProcessing = false;
    OrganizationModel model = new();
    EmployeeModel employee = new();
    public void Dispose()
    {
    }
}
