@inject IHttpService httpService
@inject AccessTokenStorage accessToken
@inject ServiceEndpoint endpoint
@inject LocalStorageHelper storageHelper
@inject EnvConf envConf
@inject IDialogService DialogService
@implements IDisposable

<MudContainer>
    <MudGrid>
        <MudItem xs="12" md="12" Class="d-flex flex-grow-1 gap-4">
            <h2>ຂໍ້ມູນຕຳແຫນ່ງ</h2>
        </MudItem>
        <MudItem xs="12" md="6" Class="d-flex flex-grow-1 gap-4">
            <MudTextField Margin="Margin.Dense" T="string" Counter="1000" MaxLength="1000" Required="true" @bind-Value="RoleTreeModel!.Role.Display.Local" Disabled="@disabled" Immediate="true" Variant="Variant.Outlined" Validation="@(new Func<string, IEnumerable<string>>(MaxCharacters))" HelperText="ຊື່ທີ່ເປັນພາສາທ້ອງຖີ່ນ" Label="ຊື່ເປັນພາສາລາວ" />
        </MudItem>
        <MudItem xs="12" md="6" Class="d-flex flex-grow-1 gap-4">
            <MudTextField Margin="Margin.Dense" T="string" Counter="1000" MaxLength="1000" Required="true" @bind-Value="RoleTreeModel!.Role.Display.Eng" Disabled="@disabled" Immediate="true" Variant="Variant.Outlined" Validation="@(new Func<string, IEnumerable<string>>(MaxCharacters))" HelperText="ຊື່ທີ່ເປັນພາສາສາກົນ" Label="ຊື່ເປັນພາສາອັງກິດ" />
        </MudItem>
        <MudItem xs="12" md="6" Class="d-flex flex-grow-1 gap-4">
            <MudSelect Margin="Margin.Dense" T="RoleTypeModel" HelperText="ລະດັບຕຳແຫນ່ງ" Label="ຕຳແຫນ່ງ" @bind-Value="RoleTreeModel!.Role.RoleType" SelectedValuesChanged="onSelectedRoleChanged" Variant="Variant.Outlined" Disabled="@disabled">
                <MudSelectItem Value="RoleTypeModel.Prime">ປະທານບໍລິສັດ</MudSelectItem>
                <MudSelectItem Value="RoleTypeModel.DeputyPrime">ຮອງປະທານບໍລິສັດ</MudSelectItem>
                <MudDivider></MudDivider>
                <MudSelectItem Value="RoleTypeModel.PrimeSecretary">ເລຂາປະທານບໍລິສັດ</MudSelectItem>
                <MudSelectItem Value="RoleTypeModel.DeputyPrimeSecretary">ເລຂາຮອງປະທານບໍລິສັດ</MudSelectItem>
                <MudDivider></MudDivider>
                <MudSelectItem Value="RoleTypeModel.Director">ຜູ້ອຳນວຍການ</MudSelectItem>
                <MudSelectItem Value="RoleTypeModel.DeputyDirector">ຮອງຜູ້ອຳນວຍການ</MudSelectItem>
                <MudDivider></MudDivider>
                <MudSelectItem Value="RoleTypeModel.InboundPrime">ຂາເຂົ້າບໍລິສັດ</MudSelectItem>
                <MudSelectItem Value="RoleTypeModel.OutboundPrime">ຂາອອກບໍລິສັດ</MudSelectItem>
                <MudDivider></MudDivider>
                <MudSelectItem Value="RoleTypeModel.OfficePrime">ຫົວຫນ້າຫ້ອງການ</MudSelectItem>
                <MudSelectItem Value="RoleTypeModel.DeputyOfficePrime">ຮອງຫົວຫນ້າຫ້ອງການ</MudSelectItem>
                <MudDivider></MudDivider>
                <MudSelectItem Value="RoleTypeModel.InboundOfficePrime">ຂາເຂົ້າຫ້ອງການ</MudSelectItem>
                <MudSelectItem Value="RoleTypeModel.OutboundOfficePrime">ຂາອອກຫ້ອງການ</MudSelectItem>
                <MudDivider></MudDivider>
                <MudSelectItem Value="RoleTypeModel.General">ຫົວຫນ້າຝ່າຍ</MudSelectItem>
                <MudSelectItem Value="RoleTypeModel.DeputyGeneral">ຮອງຫົວຫນ້າຝ່າຍ</MudSelectItem>
                <MudDivider></MudDivider>
                <MudSelectItem Value="RoleTypeModel.InboundGeneral">ຂາເຂົ້າຝ່າຍ</MudSelectItem>
                <MudSelectItem Value="RoleTypeModel.OutboundGeneral">ຂາອອກຝ່າຍ </MudSelectItem>
                <MudDivider></MudDivider>
                <MudSelectItem Value="RoleTypeModel.OfficeGeneral">ຫົວຫນ້າຫ້ອງການຝ່າຍ</MudSelectItem>
                <MudSelectItem Value="RoleTypeModel.DeputyOfficeGeneral">ຮອງຫົວຫນ້າຫ້ອງການຝ່າຍ</MudSelectItem>
                <MudDivider></MudDivider>
                <MudSelectItem Value="RoleTypeModel.Division">ຫົວຫນ້າພະແນກ</MudSelectItem>
                <MudSelectItem Value="RoleTypeModel.DeputyDivision">ຮອງພະແນກ</MudSelectItem>
                <MudDivider></MudDivider>
                <MudSelectItem Value="RoleTypeModel.Department">ຫົວຫນ້າພາກສ່ວນ</MudSelectItem>
                <MudSelectItem Value="RoleTypeModel.DeputyDepartment">ຮອງພາກສ່ວນ</MudSelectItem>
                <MudDivider></MudDivider>
                <MudSelectItem Value="RoleTypeModel.Employee">ພະນັກງານວິຊາການ</MudSelectItem>
                <MudSelectItem Value="RoleTypeModel.Contract">ສັນຍາຈ້າງ</MudSelectItem>
                <MudSelectItem Value="RoleTypeModel.Volunteer">ອາສາສະຫມັກ</MudSelectItem>
            </MudSelect>
        </MudItem>
        @if (FormMode == FormMode.Edit)
        {
            <MudItem xs="12" md="6" Class="d-flex flex-grow-1 gap-4">
                <MudCheckBox @bind-Checked="@disabled" Label="ແກ້ໄຂ ຕຳແໜ່ງ" Color="Color.Primary"></MudCheckBox>
            </MudItem>
        }
        <MudItem xs="12" md="12" Class="d-flex flex-grow-1 gap-4">
            <h2>ຜູ້ໃຫ້ທິດຊີ້ນຳ</h2>
        </MudItem>
        @if (!groupList.IsNullOrEmpty())
        {
            <MudItem xs="12" md="12" Class="d-flex flex-grow-1 gap-4">

                <MudSelect Margin="Margin.Dense" SelectedValues="groupSelectValues" SelectedValuesChanged="onSelectedGroupChanged" T="string" @bind-Value="@group" HelperText="ຝ່າຍທີ່ສັງກັດ" Label="ສັງກັດ" Variant="Variant.Outlined" Disabled="@disabled">

                    @foreach (var item in groupList!)
                    {
                        <MudSelectItem T="string" Value="item.Role.RoleID">@item.Role.Display.Local</MudSelectItem>
                    }
                </MudSelect>
            </MudItem>
        }
        @if (!leaderList.IsNullOrEmpty())
        {
            <MudItem xs="12" md="12" Class="d-flex flex-grow-1 gap-4">

                <MudSelect Margin="Margin.Dense" T="string" SelectedValues="parentSelectValues" SelectedValuesChanged="onSelectedParentChanged" @bind-Value="RoleTreeModel!.ParentID" HelperText="ຜູ້ໃຫ້ທິດຊີ້ນຳ" Label="ຜູ້ໃຫ້ທິດ" Variant="Variant.Outlined" Disabled="@disabled">

                    @foreach (var item in leaderList!)
                    {
                        <MudSelectItem T="string" Value="item.Role.RoleID">@item.Role.Display.Local</MudSelectItem>
                    }
                </MudSelect>
            </MudItem>
        }
        
        <MudItem xs="12" md="12" Class="d-flex flex-grow-1 gap-4">
            <MudTextField Margin="Margin.Dense" T="string" @bind-Value="RoleTreeModel!.Publisher" Counter="1000" MaxLength="1000" Disabled="@disabled" Immediate="true" Variant="Variant.Outlined" Validation="@(new Func<string, IEnumerable<string>>(MaxCharacters))" HelperText="ຊື່ປະກາດໃຊ້ທີ່ສະແດງໃນ ແຜນຜັງ" Label="ຊື່ປະກາດໃຊ້" />
        </MudItem>
        <MudItem xs="12" md="12" Class="d-flex flex-grow-1 gap-4">
            <h2>ຂໍ້ມູນບຸກຄະລາກອນ</h2>
        </MudItem>
        <MudItem xs="12" md="4" Class="d-flex flex-grow-1 gap-4">
            <MudField Margin="Margin.Dense"  Label="ຊື່ ນາມສະກຸນ" Variant="Variant.Outlined">@fullname</MudField>
        </MudItem>
        <MudItem xs="12" md="4">
            <MudButton Variant="Variant.Filled" Color="Color.Primary" OnClick="openEmployeeSelector">ເລືອກ ບຸກຄະລາກອນ</MudButton>
        </MudItem>
        <MudItem xs="12" md="4" Class="d-flex flex-grow-1 gap-4">
            <MudList Clickable="false">
                <MudListSubheader>
                    ລາຍການ ຕຳແໜ່ງທີ່ຖືກແຕ່ງຕັ້ງ
                </MudListSubheader>
                @if (!tabItems.IsNullOrEmpty())
                {
                    foreach(var item in tabItems)
                    {
                        <MudListItem Icon="@Icons.Material.Filled.SupervisedUserCircle">
                            @item.Role.Display.Local
                        </MudListItem>
                    }
                }
            </MudList>
        </MudItem>
    </MudGrid>
</MudContainer>


<MudMessageBox @ref="mbox" Title="ລາຍຊື່ພະນັກງານທັງຫມົດ">
    <MessageContent>
        <EmployeeSelector Employees="employees" SelectUser="selectedUser"></EmployeeSelector>
    </MessageContent>
    <YesButton>
        <MudButton Variant="Variant.Filled" Color="Color.Primary" StartIcon="@Icons.Material.Filled.Save">ຕົກລົງ</MudButton>
    </YesButton>
</MudMessageBox>

@code {
    [Parameter] public string? OrganizationID { get; set; }
    [Parameter] public FormMode FormMode { get; set; }
    [Parameter] public RoleTreeModel? RoleTreeModel { get; set; }
    [Parameter] public bool OnProcessing { get; set; }
    [Parameter] public EventCallback<string> Notice { get; set; }
    MudMessageBox? mbox { get; set; }
   

    public void Dispose()
    {
    }
}
