@inject IHttpService httpService
@inject AccessTokenStorage accessToken
@inject ServiceEndpoint endpoint
@inject LocalStorageHelper storageHelper
@inject IMinioService minio
@inject IDialogService DialogService
@implements IDisposable

<MudContainer>
    <MudGrid>
        <MudItem xs="12" md="12" Class="d-flex flex-grow-1 gap-4">
            <h2>ຂໍ້ມູນເອກະສານ</h2>
        </MudItem>
        <MudItem xs="12" md="12" Class="d-flex flex-grow-1 gap-4">
            <MudField Margin="Margin.Dense"  Label="ຫົວຂໍ້" Variant="Variant.Outlined">@RawDocument!.Title</MudField>
        </MudItem>
        <MudItem xs="12" md="4" Class="d-flex flex-grow-1 gap-4">
            <MudField Margin="Margin.Dense"  Label="ເລກທີ່ແນບມານຳເອກະສານ" Variant="Variant.Outlined">@RawDocument!.ExternalDocID</MudField>
        </MudItem>
        <MudItem xs="12" md="4" Class="d-flex flex-grow-1 gap-4">
            <MudField Margin="Margin.Dense"  Label="ຈຳນວນຫນ້າ" Variant="Variant.Outlined">@RawDocument!.DocPage</MudField>
        </MudItem>
        <MudItem xs="12" md="4" Class="d-flex flex-grow-1 gap-4">
            <MudField Margin="Margin.Dense"  Label="ມາຈາກຫນ່ວຍງານ" Variant="Variant.Outlined">@RawDocument!.FromUnit</MudField>
        </MudItem>
        <MudItem xs="12" md="4" Class="d-flex flex-grow-1 gap-4">
            <MudField Margin="Margin.Dense"  Label="ຫນ່ວຍງານຮັບຜິດຊອບ" Variant="Variant.Outlined">@RawDocument!.ResponseUnit</MudField>
        </MudItem>
        <MudItem xs="12" md="4" Class="d-flex flex-grow-1 gap-4">
            <MudField Margin="Margin.Dense"  Label="ຮູບແບບການສົ່ງ" Variant="Variant.Outlined">@RawDocument!.TransferType</MudField>
        </MudItem>
        <MudItem xs="12" md="4" Class="d-flex flex-grow-1 gap-4">
            <MudField Margin="Margin.Dense"  Label="ຮູບແບບເອກະສານ" Variant="Variant.Outlined">@RawDocument!.FormType</MudField>
        </MudItem>

        <MudItem xs="12" md="4" Class="d-flex flex-grow-1 gap-4">
            <MudField Margin="Margin.Dense"  Label="ລະດັບຄວາມລັບ" Variant="Variant.Outlined">
                @if (securityModels != null)
                {
                    if(securityModels!.FirstOrDefault(x => x.id == RawDocument!.Security.id) != null)
                    {
                        <text>@securityModels!.FirstOrDefault(x => x.id == RawDocument!.Security.id)!.Level</text>
                    }
                }
            </MudField>
        </MudItem>

        <MudItem xs="12" md="4" Class="d-flex flex-grow-1 gap-4">
            <MudField Margin="Margin.Dense"  Label="ລະດັບຄວາມເລັ່ງດ່ວນ" Variant="Variant.Outlined">
                @if (urgentModels != null)
                {
                    if(urgentModels!.FirstOrDefault(x => x.id == RawDocument!.Urgent.id) != null)
                    {
                        <text>
                            @urgentModels!.FirstOrDefault(x => x.id == RawDocument!.Urgent.id)!.Level
                        </text>
                    }
                    
                }
            </MudField>
        </MudItem>

        <MudItem xs="12" md="4" Class="d-flex flex-grow-1 gap-4">
            @if (RawDocument!.IsOriginalFile)
            {
                <MudField Margin="Margin.Dense"  Label="ບໍ່ມີເອກະສານສະບັບແທ້" Variant="Variant.Outlined">ມີເອກະສານສະບັບແທ້</MudField>

            }
            else
            {
                <MudField Margin="Margin.Dense"  Label="ບໍ່ມີເອກະສານສະບັບແທ້" Variant="Variant.Outlined">ບໍ່ມີເອກະສານສະບັບແທ້</MudField>

            }
        </MudItem>

        <MudItem xs="12" md="4" Class="d-flex flex-grow-1 gap-4">
            <MudField Margin="Margin.Dense"  Label="ວັນທີ່ເອກະສານສົ່ງເຂົ້າມາ" Variant="Variant.Outlined">@RawDocument!.IncomingDate</MudField>
        </MudItem>
        <MudItem xs="12" md="4" Class="d-flex flex-grow-1 gap-4">
            <MudField Margin="Margin.Dense"  Label="ວັນທີ່ທີ່ຕິດມານຳເອກະສານສົ່ງເຂົ້າມາ" Variant="Variant.Outlined">@RawDocument!.DocDate</MudField>
        </MudItem>
        <MudItem xs="12" md="4" Class="d-flex flex-grow-1 gap-4">
            <MudField Margin="Margin.Dense"  Label="ວັນທີ່ເອກະສານສົ່ງເຂົ້າມາຫມົດກຳຫນົດ" Variant="Variant.Outlined">@RawDocument!.ExpiredDate</MudField>
        </MudItem>

        <MudItem xs="12" md="12" Class="d-flex flex-grow-1 gap-4">
            <h2>ອັບໂຫຼດເອກະສານ</h2>
        </MudItem>
        <MudItem xs="12" md="6" Class="d-flex flex-grow-1 gap-4">
            <MudField Margin="Margin.Dense"  Variant="Variant.Outlined">ເອກະສານຕິດຄັດ</MudField>

        </MudItem>
        <MudItem xs="12" md="6" Class="d-flex flex-grow-1 gap-4">
            <MudField Margin="Margin.Dense"  Variant="Variant.Outlined">ເອກະສານກ່ຽວຂ້ອງ</MudField>

        </MudItem>

        <MudItem xs="12" md="6" Class="d-flex flex-grow-1 gap-4">
            @if (RawDocument!.Attachments != null)
            {
                <MudText Typo="@Typo.h6">@RawDocument!.Attachments.Count() File@(RawDocument!.Attachments.Count() == 1 ? "" : "s"):</MudText>
                <div class="mud-table mud-data-grid mud-xs-table mud-elevation-1 mud-width-full">
                    <div class="mud-table-container">
                        <table class="mud-table-root">
                            <tbody class="mud-table-body">
                                @foreach (var file in RawDocument!.Attachments)
                                {
                                    if (file != null)
                                    {
                                        if (!file.IsRemove)
                                        {
                                            <tr class="mud-table-row">
                                                <td class="mud-table-cell">
                                                    <MudTooltip Text="@file!.Display">
                                                        <MudChip Color="Color.Primary">
                                                            @file!.DisplayOnPage <code><b>@file!.FileSize.ToString("0.##") MB</b></code>
                                                        </MudChip>

                                                    </MudTooltip>
                                                </td>
                                                <td class="mud-table-cell" style="width: 30px">
                                                    @if (file!.MimeType!.Contains("pdf"))
                                                    {
                                                        <MudIconButton Color="Color.Primary" Icon="@Icons.Material.Filled.Preview" aria-label="preview" Disabled="previewButton" OnClick="@(() => previewPdf(file!.Bucket!, file!.FileName!, file!.Display!))"></MudIconButton>
                                                    }
                                                </td>
                                                <td class="mud-table-cell" style="width: 30px">
                                                    <a class="mud-button-root mud-icon-button mud-warning-text hover:mud-warning-hover mud-ripple mud-ripple-icon" target="_blank" href="@endpoint.PublicAPI/api/v1/Document/@file.Bucket/@file.FileName/@file.Display/Download">
                                                        <span class="mud-icon-button-label">
                                                            <MudIcon Icon="@Icons.Material.Filled.Download" Color="Color.Primary" />
                                                        </span>
                                                    </a>
                                                </td>
                                            </tr>
                                        }
                                    }

                                }
                            </tbody>
                        </table>
                    </div>
                </div>
                
            }

        </MudItem>
        <MudItem xs="12" md="6" Class="d-flex flex-grow-1 gap-4">
            @if (RawDocument!.RelateFles != null)
            {
                <MudText Typo="@Typo.h6">@RawDocument!.RelateFles.Count() File@(RawDocument!.RelateFles.Count() == 1 ? "" : "s"):</MudText>
                <div class="mud-table mud-data-grid mud-xs-table mud-elevation-1 mud-width-full">
                    <div class="mud-table-container">
                        <table class="mud-table-root">
                            <tbody class="mud-table-body">
                                @foreach (var file in RawDocument!.RelateFles)
                                {
                                    if (file != null)
                                    {
                                        if (!file.IsRemove)
                                        {
                                            <tr class="mud-table-row">
                                                <td class="mud-table-cell">
                                                    <MudTooltip Text="@file!.Display">
                                                        <MudChip Variant="Variant.Outlined" Color="Color.Primary">
                                                            @file!.DisplayOnPage <code><b>@file!.FileSize.ToString("0.##") MB</b></code>
                                                        </MudChip>

                                                    </MudTooltip>
                                                </td>
                                                <td class="mud-table-cell" style="width: 30px">
                                                    @if (file!.MimeType!.Contains("pdf"))
                                                    {
                                                        <MudIconButton Color="Color.Primary" Icon="@Icons.Material.Filled.Preview" aria-label="preview" Disabled="previewButton" OnClick="@(() => previewPdf(file!.Bucket!, file!.FileName!, file!.Display!))"></MudIconButton>
                                                    }
                                                </td>
                                                <td class="mud-table-cell" style="width: 30px">
                                                    <a class="mud-button-root mud-icon-button mud-warning-text hover:mud-warning-hover mud-ripple mud-ripple-icon" target="_blank" href="@endpoint.PublicAPI/api/v1/Document/@file.Bucket/@file.FileName/@file.Display/Download">
                                                        <span class="mud-icon-button-label">
                                                            <MudIcon Icon="@Icons.Material.Filled.Download" Color="Color.Primary" />
                                                        </span>
                                                    </a>
                                                </td>
                                            </tr>
                                        }
                                    }

                                }
                            </tbody>
                        </table>
                    </div>
                </div>
               
            }
        </MudItem>
        <MudItem xs="12" md="12" Class="d-flex flex-grow-1 gap-4">
            <h2>ຂໍ້ມູນການເກັບຮັກສາສຳເນົາ</h2>
        </MudItem>
        <MudItem xs="12" md="4" Class="d-flex flex-grow-1 gap-4">
            <MudField Margin="Margin.Dense"  Label="ແຟ້ມເກັບເອກະສານ" Variant="Variant.Outlined">
                @if (folderModels != null && !string.IsNullOrWhiteSpace(RawDocument!.FolderId))
                {
                    <text>
                        @folderModels!.FirstOrDefault(x => x.id == RawDocument!.FolderId)!.Title
                    </text>
                }
            </MudField>
        </MudItem>
        <MudItem xs="12" md="3" Class="d-flex flex-grow-1 gap-4">
            <MudField Margin="Margin.Dense"  Label="ປະເພດສຳເນົາ" Variant="Variant.Outlined">@RawDocument!.CopyType</MudField>

        </MudItem>
        <MudItem xs="12" md="3" Class="d-flex flex-grow-1 gap-4">
            <MudField Margin="Margin.Dense"  Label="ປະເພດເອກະສານ" Variant="Variant.Outlined">
                @if (docTypeModels != null && !string.IsNullOrWhiteSpace(RawDocument!.DocType))
                {
                    <text>
                        @docTypeModels!.FirstOrDefault(x => x.id == RawDocument!.DocType)!.DocType
                    </text>
                }
            </MudField>

        </MudItem>
        <MudItem xs="12" md="2" Class="d-flex flex-grow-1 gap-4">
            <MudField Margin="Margin.Dense"  Label="ເລກທີ" Variant="Variant.Outlined">@RawDocument!.DocNo</MudField>
        </MudItem>

        <MudItem xs="12" md="12">
            <MudAlert Severity="Severity.Normal" NoIcon="true" Class="mb-2 mt-3">ເອກະສານຂາເຂົ້າ</MudAlert>
        </MudItem>

        <MudItem xs="12" md="12">
            @if (document != null)
            {
                var reverseList = Enumerable.Reverse(document!.Recipients!).ToList();
                <TrackingSheet Reciepients="reverseList"></TrackingSheet>

            }
        </MudItem>
    </MudGrid>
</MudContainer>



@code {

    [Parameter] public DocumentModel? DocumentModel { get; set; }
    [Parameter] public RawDocumentData? RawDocument { get; set; }
    [Parameter] public PartialRole? MyRole { get; set; }
    [Parameter] public string? RoleId { get; set; }
    [Parameter] public bool OnProcessing { get; set; }

    bool previewButton = false;
    string? token = "";
    private EmployeeModel? employee;
    IEnumerable<DocumentUrgentModel>? urgentModels;
    IEnumerable<DocumentSecurityModel>? securityModels;
    IEnumerable<DataTypeModel>? docTypeModels;
    IEnumerable<FolderModel>? folderModels;
    DocumentModel? document;

    private CancellationTokenSource cts = new CancellationTokenSource();
    public void Dispose()
    {
        cts.Cancel();
        cts.Dispose();
    }
}
