
<MudNavMenu>
    <div class="@(IsOpen?"d-flex justify-content-end":"d-flex justify-content-center")">
        <MudIconButton Icon="@Icons.Material.Outlined.Menu" Color="Color.Primary" OnClick="Open" Size="Size.Medium" />
    </div>

    <MudDivider Class="mb-4" Style="height:2px" />

    @if (IsOpen)
    {
        <MudText Typo="Typo.subtitle2" Color="Color.Primary" Style="font-weight: bold; font-size: 16px;" Class="ml-4 my-3">ສ່ວນຕົວ</MudText>
    }

    <MudNavLink Href="/pages/home" IconColor="Color.Primary" Style="color: #002f57" Icon="@Icons.Material.Outlined.Home">ຫນ້າຫລັກ</MudNavLink>
    <MudNavLink Href="/pages/personal/account" IconColor="Color.Primary" Style="color: #002f57" Icon="@Icons.Material.Outlined.Person">ຂໍ້ມູນຜູ້ໃຊ້</MudNavLink>
    <MudDivider Style="height:2px" />
    @if (IsOpen)
    {
        <MudText Typo="Typo.subtitle2" Color="Color.Primary" Style="font-weight: bold; font-size: 16px;" Class="ml-4 my-3">ເອກະສານຂາເຂົ້າ</MudText>
    }

    <MudNavLink Href="/pages/doc/inbound/inbox" IconColor="Color.Primary" Style="color: #002f57" Icon="@Icons.Material.Outlined.Inbox" Match="NavLinkMatch.Prefix">ກຳລັງດຳເນີນງານ</MudNavLink>
    <MudNavLink Href="/pages/doc/inbound/coprocess" IconColor="Color.Primary" Style="color: #002f57" Icon="@Icons.Material.Filled.AlternateEmail" Match="NavLinkMatch.Prefix">ຕິດຕາມ</MudNavLink>
    <MudNavLink Href="/pages/doc/inbound/draft" IconColor="Color.Primary" Style="color: #002f57" Icon="@Icons.Material.Outlined.Drafts" Match="NavLinkMatch.Prefix">ສະບັບຮ່າງ</MudNavLink>
    <MudNavLink Href="/pages/doc/inbound/completed" IconColor="Color.Primary" Style="color: #002f57" Icon="@Icons.Material.Outlined.Send" Match="NavLinkMatch.Prefix">ສຳເລັດແລ້ວ</MudNavLink>
    <MudNavLink Href="/pages/doc/inbound/bin" IconColor="Color.Primary" Style="color: #002f57" Icon="@Icons.Material.Outlined.Cabin" Match="NavLinkMatch.Prefix">ຖັງຂີ້ເຫຍື່ອ</MudNavLink>
    <MudDivider Style="height:2px" />
    @if (IsOpen)
    {
        <MudText Typo="Typo.subtitle2" Color="Color.Primary" Style="font-weight: bold; font-size: 16px;" Class="ml-4 my-3">ເອກະສານຂາອອກ</MudText>
    }

    <MudNavLink Href="/pages/doc/outbound/inbox" IconColor="Color.Primary" Style="color: #002f57" Icon="@Icons.Material.Outlined.Inbox" Match="NavLinkMatch.Prefix">ກຳລັງດຳເນີນງານ</MudNavLink>
    <MudNavLink Href="/pages/doc/outbound/coprocess" IconColor="Color.Primary" Style="color: #002f57" Icon="@Icons.Material.Filled.AlternateEmail" Match="NavLinkMatch.Prefix">ຕິດຕາມ</MudNavLink>
    <MudNavLink Href="/pages/doc/outbound/draft" IconColor="Color.Primary" Style="color: #002f57" Icon="@Icons.Material.Outlined.Drafts" Match="NavLinkMatch.Prefix">ສະບັບຮ່າງ</MudNavLink>
    <MudNavLink Href="/pages/doc/outbound/completed" IconColor="Color.Primary" Style="color: #002f57" Icon="@Icons.Material.Outlined.Send" Match="NavLinkMatch.Prefix">ສຳເລັດແລ້ວ</MudNavLink>
    <MudNavLink Href="/pages/doc/outbound/bin" IconColor="Color.Primary" Style="color: #002f57" Icon="@Icons.Material.Outlined.Cabin" Match="NavLinkMatch.Prefix">ຖັງຂີ້ເຫຍື່ອ</MudNavLink>
    <MudDivider Style="height:2px" />
   
    
    @if (IsOpen)
    {
        <MudText Typo="Typo.subtitle2" Color="Color.Primary" Style="font-weight: bold; font-size: 16px;" Class="ml-4 my-3">ລາຍງານສຳລັບແອັດມິນ</MudText>
    }

    <MudNavLink Href="/pages/monitor/inbound" IconColor="Color.Primary" Style="color: #002f57" Icon="@Icons.Material.Outlined.AdminPanelSettings">ເອກະສານຂາເຂົ້າ</MudNavLink>
    <MudNavLink Href="/pages/monitor/outbound" IconColor="Color.Primary" Style="color: #002f57" Icon="@Icons.Material.Outlined.AdminPanelSettings">ເອກະສານຂາອອກ</MudNavLink>
    <MudDivider Style="height:2px" />

    @if (IsOpen)
    {
        <MudText Typo="Typo.subtitle2" Color="Color.Primary" Style="font-weight: bold; font-size: 16px;" Class="ml-4 my-3">ແຟ້ມເອກະສານ</MudText>
    }

    <MudNavLink Href="/pages/folder/inbound" IconColor="Color.Primary" Style="color: #002f57" Icon="@Icons.Material.Outlined.Folder">ແຟ້ມຂາເຂົ້າ</MudNavLink>
    <MudNavLink Href="/pages/folder/outbound" IconColor="Color.Primary" Style="color: #002f57" Icon="@Icons.Material.Outlined.FolderShared">ແຟ້ມຂາອອກ</MudNavLink>
    <MudDivider Style="height:2px" />
    @if (IsOpen)
    {
        <MudText Typo="Typo.subtitle2" Color="Color.Primary" Style="font-weight: bold; font-size: 16px;" Class="ml-4 my-3">ຈັດການຂໍ້ມູນພື້ນຖານ</MudText>
    }

    <MudNavLink Href="/pages/org/chart" IconColor="Color.Primary" Style="color: #002f57" Icon="@Icons.Material.Outlined.AddChart">ແຜນວາດອົງກອນ</MudNavLink>
    <MudNavLink Href="/pages/org/user" IconColor="Color.Primary" Style="color: #002f57" Icon="@Icons.Material.Outlined.SupervisedUserCircle">ຜູ້ໃຊ້ລະບົບ</MudNavLink>
    <MudNavLink Href="/pages/doctype" IconColor="Color.Primary" Style="color: #002f57" Icon="@Icons.Material.Outlined.Assessment">ປະເພດເອກະສານ</MudNavLink>
    <MudNavLink Href="/pages/security" IconColor="Color.Primary" Style="color: #002f57" Icon="@Icons.Material.Outlined.Security">ລະດັບຄວາມປອດໄພເອກະສານ</MudNavLink>
    <MudNavLink Href="/pages/urgent" IconColor="Color.Primary" Style="color: #002f57" Icon="@Icons.Material.Outlined.NoiseAware">ລະດັບຄວາມເລັ່ງດ່ວນ</MudNavLink>
    <MudDivider Style="height:2px" />
    @if (IsOpen)
    {
        <MudText Typo="Typo.subtitle2" Color="Color.Primary" Style="font-weight: bold; font-size: 16px;" Class="ml-4 my-3">ລາຍງານ</MudText>
    }

    <MudNavLink Href="/pages/report/inbound" IconColor="Color.Primary" Style="color: #002f57" Icon="@Icons.Material.Outlined.Newspaper">ລາຍງານເອກະສານຂາເຂົ້າ</MudNavLink>
    <MudNavLink Href="/pages/report/outbound" IconColor="Color.Primary" Style="color: #002f57" Icon="@Icons.Material.Outlined.Newspaper">ລາຍງານເອກະສານຂາອອກ</MudNavLink>
    <MudDivider Style="height:2px" />
    @if (IsOpen)
    {
        <MudText Typo="Typo.subtitle2" Color="Color.Primary" Style="font-weight: bold; font-size: 16px;" Class="ml-4 my-3">ລະບົບ</MudText>
    }

    <MudNavLink Href="/authorize" IconColor="Color.Primary" Style="color: #002f57" Icon="@Icons.Material.Outlined.Logout">ອອກຈາກລະບົບ</MudNavLink>
    <MudDivider Style="height:5px" />
</MudNavMenu>